-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


= entry_form(buttons_bottom: false) do |f|
  = f.labeled_input_field :name
  = f.labeled_color_field :link_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :link_hover_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :primary_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :secondary_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :page_background_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :content_background_color, class: "form-control form-control-sm w-25"
  = f.labeled_color_field :footer_background_color, class: "form-control form-control-sm w-25"
